* {
font-family: 'Rajdhani', sans-serif;
letter-spacing: 0.5px;
line-height: 95%;
}

:root {
  --main--color: darkred;
  --accent--color: #C67F7F;
  --bg--color: #ececec;
}

body {
  background: var(--bg--color);
}
.text-main-color {
  color: var(--main--color);
}

.text-accent-color {
  color: var(--accent--color);
}

.bg-color {
  background-color: var(--bg--color);
}

.bg-main-color{
   background-color: var(--main--color);
}

.font-nova {
  font-family: 'Nova Square', cursive;
}

.logo-size {
  height: 80px;
}

.heading-img {
  min-height: 100vh;
  background: linear-gradient(to bottom, white 15%, transparent), url('./Red/media/switzerland-862870_1920.jpg');
  background-size: cover;
  background-position: center;

}

.nav-item {
  padding: 0 30px !important;
}

.heading{
  letter-spacing: 0.75em;
}

.overlay-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.quote {
  position: relative;
  font-size: 27px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: rgba(0, 0, 0, 0.534);
  margin-top: 20px;
}

.quote::before {
  position: absolute;
  content: open-quote;
  font-weight: bold;
  display: block;
  color: var(--main--color);
  font-size: 70px;
  top: 0;
  left: -10px;
}

.quote::after {
  position: absolute;
  content: close-quote;
  font-weight: bold;
  display: block;
  color: var(--main--color);
  font-size: 70px;
  bottom: -30px;
  right: 30px;
}

.card-icon {
  color: var(--main--color);
  font-size: 50px;
}

.card-header {
  border: 0;
  padding-bottom: 0;
  margin-bottom: .25rem;
  border-radius: 0;
  border-bottom: 4px solid var(--main--color);
  position: relative;
}

.card-header::after {
  content: ' ';
  display: block;
  border: 2px solid var(--main--color);
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.lead {
  font-weight: 500 !important;
  /* font-size: 1.25rem; */
  color: rgba(0, 0, 0, 0.534);
  line-height: 100%;
}

h3 {
  color: var(--main--color);
  font-size: 33px;
  font-weight: 600;
}


.button-custom {
  background-color: var(--main--color) !important;
  color: white;
  width: 300px;
  height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: 100px;
}

.spaced-columns {
  margin-top: 100px !important;
  margin-bottom: 0 !important;
  padding-bottom: 100px;
}

.card-timeline {
  position: relative;
  padding-bottom: 15px;
  background: transparent;
}

.card-timeline::before {
  position: absolute;
  content: ' ';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  border: 2px solid var(--main--color);
  left: -34px;
  top: 0px;
}

.timeline {
  z-index: 9999 !important;
  border-left: 4px solid var(--main--color);
  padding-left: 20px;
}

h2 {
  text-transform: uppercase;
  font-size: 43px;
  font-weight: 600;
  margin-bottom: 50px;
}

.card-title {
  color: var(--main--color);
  font-size: 28px;
  font-weight: 500;
}

.card-text{
  font-size: 20px;
  font-weight: 500;
}

.card-body {
  padding: 0 !important; 
  padding-bottom: 15px !important;
}

.card-img-top-circle {
  width: 200px;
  padding: 8px;
margin-bottom: 20px;
border: 2px solid var(--main--color);
}

.card-text-small{
  font-size: 13px;
}

.social-icon {
  padding: 0 21px;
  font-size: 18px;
  color: var(--main--color)
}

.title-smaller {
font-size: 20px !important;
font-weight: 600;
}

.img-border {
  border: 4px solid var(--main--color);
  padding: 8px;
}

footer nav li {
  color: var(--bg--color);
}

footer nav a {
  display: block;
  text-decoration: none;
  color: var(--bg--color);
  font-weight: bold;
  padding: 10px;
}

footer nav a:hover {
  color: var(--accent--color);
}